* {
    box-sizing: border-box;
    margin: 10px;
}

body {
    overflow-x: hidden;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vh;
    min-height: 100vh;
    order: -1;
    z-index: -1;
    position: absolute;
    margin-right: -20px;
    margin-bottom: 0px;
}

.root {
    order: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    height: 85vh;
    background-color: rgb(15, 15, 15, .5);
    border-radius: 20px;
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 60px 60px auto;
    grid-template-areas:
        "head head head head head head head head"
        "nav nav hc hc hc hc hc hc "
        "nav nav content content content content content content ";
}

section {
    margin-left: -3px;
}

@media (min-width: 1290px) {
    section {
        margin-left: -50px;
    }
}

nav {
    max-width: 300px;
    border-top: 1px solid rgb(130, 130, 130, .2);
    border-right: 1px solid rgb(130, 130, 130, .2);
    grid-area: nav;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;

}

::-webkit-scrollbar-track {
    background-color: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(15, 15, 15, .8);
    border-radius: 20px;
}



nav ul li {
    list-style-type: none;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: -20px;
}

nav ul li:hover {
    background-color: rgb(50, 50, 50, .5);
    border-radius: 20px;
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

nav ul li img {
    width: 20px;
    height: 20px;

}

.font {
    color: rgb(150, 150, 150);
    margin-left: 25px;
    font-size: large;
}

@media (max-width: 900px) {
    nav {
        font-size: 10px;
    }
}



.hc {
    /* background-color: rebeccapurple; */
    grid-area: hc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.start {
    position: absolute;
    margin-left: 180px;
}

.hc ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hc ul li {
    list-style-type: none;
    color: rgb(150, 150, 150);
    font-size: large;

}



header {
    border: 2px solid rgb(55, 55, 55);
    color: rgb(150, 150, 150);
    font-size: large;
    grid-area: head;
    border: none;
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


header ul {
    display: flex;
    flex-direction: row;
}

header ul li {
    list-style-type: none;

}

.cirecle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    /* background-color: orange; */
}


.loction {
    position: relative;
    margin-left: -52px;
}

.one {
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin: auto;
}



button {
    background: rgb(18, 18, 18, 0);
    border: none;
    cursor: pointer;
    position: absolute;
    margin-top: 2px;
    margin-left: 1px;
}

input {
    background-color: inherit;
    border: inherit;
    color: aliceblue;
    margin-top: -4px;
    position: absolute;
    margin-left: 22px;
}

input:focus {
    outline: none;
}

#size {
    position: absolute;
    margin-top: -8px;
    margin-left: -9px;

}

.bar {
    background-color: rgb(44, 44, 44);
    border: none;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    color: aliceblue;
}


.one :hover {
    color: white;
    cursor: pointer;
    transform: scale(1.1, 1.1);
    border-bottom: 3px solid white;
    font-weight: 600;

}

.size {
    width: 40px;
    height: 40px;
}

.content {
    overflow-y: scroll;
    overflow-x: hidden;
    grid-area: content;
    background-color: rgb(15, 15, 15, .5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(130, 130, 130, .4);
}

.free {
    margin-top: 0px;
    padding-left: 25px;
}

.parent {
    display: flex;
    width: 600px;
    height: 35vh;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(222, 23, 16), rgb(230, 51, 172), rgb(181, 80, 245), rgb(25, 179, 166));
}

.free p {
    max-width: 350px;
}

.free h2 {
    color: rgb(240, 240, 240);
    margin-top: 16px;
    margin-left: 1px;
}

.logo {
    display: flex;
}

.enter {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(30, 89, 241);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
}

.enter:hover {
    transform: scale(1.1, 1.1);
    background-color: rgb(10, 60, 188);
    cursor: pointer;
}

.up:hover {
    transform: scale(1.1, 1.1);
    background-color: rgb(10, 60, 188);
    cursor: pointer;
}

.bsize {
    width: 150px;
    margin-top: 31px;
}

.parenttwo {
    padding-left: 20px;
}

.program {
    background-color: rgb(118, 118, 118, .2);
    border-radius: 20px;
    max-width: 850px;
    margin-top: 20px;
}

.program ul li {
    width: 845px;
    height: 50px;
    border-top: 2px solid rgb(130, 130, 130, .2);
    list-style-type: none;
    display: flex;
    margin-left: -50px;
    align-items: center;
    padding-left: 25px;
    margin-top: -9px;
    padding-top: 2px;
    justify-content: space-between;

}

.program ul li:hover {
    cursor: pointer;
    width: 847px;
    background-color: rgb(15, 15, 15, .5);


}

.loction {
    display: flex;
    align-items: center;
    margin-left: -7px;

}

.open {
    width: 80px;
    height: 30px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.open:hover {
    transform: scale(1.1, 1.1);
}

.squareone {
    background-color: rgb(118, 118, 118, .2);
    border-radius: 20px;
    width: 300px;
    height: 250px;
    display: block;
    padding-top: 4px;
}

.squareone:hover {
    cursor: pointer;
    background-color: rgb(15, 15, 15, .5);
    transform: scale(1.1, 1.1);
}

.childone {
    display: flex;

}

.childone h2 {
    display: flex;
    margin-top: 15px;
    margin-left: -1px;
}

.up {
    width: 100px;
    height: 33px;
    border-radius: 15px;
    background-color: rgb(30, 89, 241);
    display: flex;
    align-items: center;
    justify-content: center;

}

.cont {
    width: 250px;
    height: 52px;
    margin-top: 50px;
    margin-left: 6px;
    border-top: 2px solid rgb(130, 130, 130, .2);

}

.bigparent {
    display: flex;
    flex-direction: row;
}